<div class="login-container">
  <ul>
    <li *ngFor="let item of users">{{item}}</li>
  </ul>
  
  <h2>Login</h2>
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
        
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </div>
    <button type="submit" (click) = "onButtonClick()">Login</button>
    <a routerLink="/signup">Signup Now!</a>
    <app-displaydata [username] = "username" [password] = "password" (newUserEvent) = "addUser($event)" ></app-displaydata>
  </form>
</div>
